<!DOCTYPE html>
<html>
  <head>
    <title>Reserveapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "home", root_path %>
      <% if user_signed_in? %>
        <ul class="drop-down-menu">
          <li id="menu"><%= image_tag current_user.avatar.variant(resize: '20x20') %><%= current_user.name%></li>
            <ul id="slide-menu">
              <li><%= link_to "新規施設登録", new_room_path %></li>
              <li><%= link_to "登録済施設一覧", rooms_own_path %></li>
              <li><%= link_to "アカウント設定", user_account_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        </ul>
      <% end %>
    </header>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    
    <footer>
      <%= link_to "home", root_path %>
    </footer>
  </body>
</html>
